body {
  width: 100vw;
  height: 100vh;
  background: black;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
  width: 100%;
}

ul {
  list-style-type: none;
}

.feedback {
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 15px;
  margin-bottom: 10px;
  list-style-type: none;
  overflow: hidden;
  font-family: 'Fira Sans', sans-serif;
}

.feedback__firstLine {
  display: flex;
  justify-content: flex-start;
  color: #7b7b7b;
  flex-direction: row;
  margin-bottom: 3px;
  align-items: flex-end;
  overflow: hidden;
}

.feedback__name {
  color: #4f4f4f;
  font-weight: bold;
  margin-right: 8px;
  font-size: 17px;
}
.feedback__place {
  color: #7b7b7b;
  margin-right: 8px;
}
.feedback__text {
  color: #4f4f4f;
  overflow: hidden;
  font-size: 17px;
}

.hint {
  border-radius: 25%;
  background-color: #ff8663;
  margin: 0;
  padding: 10px;
  color: #fff;
  font-style: 20px;
}

.popup {
  width: 380px;
  height: 526px;
  border-radius: 7px;
  position: fixed;
  display: none;
}

.header {
  display: flex;
  padding: 2%;
  background-color: #ff8663;
  height: 44px;
  justify-content: space-between;
  border-radius: 7px 7px 0 0;
  align-items: center;
}

.header__address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Fira Sans', sans-serif;
}

.header__address-image {
  width: 8px;
  height: 13px;
  margin-right: 10px;
  margin-left: 5px;
}

.header__address-text {
  color: #fff;
  font-size: 15px;
}

.header__close {
  border: none;
  outline: none;
  background-color: #ff8663;
  width: 15px;
  height: 15px;
  margin-right: 15px;
}

.feedbacks {
  outline: none;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 155px;
  margin: 0;
  border-bottom: 1px solid #f0f0f0;
  padding: 0;
  /*overflow: scroll;*/
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 270px;
  padding-left: 5%;
  padding-right: 5%;
}

.form__title {
  margin-bottom: 15px;
  width: 88px;
  height: 13px;
  color: #ff8663;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.form__input {
  border-radius: 16px;
  border: 1px solid #c4c4c4;
  padding: 1%;
  margin-bottom: 15px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  outline: 0;
}

.form__name {
  height: 32px;
}

.form__place {
  height: 32px;
}

.form__text {
  height: 130px;
  resize: none;
  margin-bottom: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  background-color: #fff;
  border-radius: 0 0 7px 7px;
}

.footer__add {
  border: none;
  outline: none;
  width: 87px;
  height: 30px;
  background-color: #ff8663;
  margin-right: 3%;
  color: #fff;
  border-radius: 7px;
}
.show {
  display: block;
}
